@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgcolor: #f0deaf;
  --bgcolor-light:rgb(243, 230, 196);
}

.font-eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-rubik {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
    @apply font-eb-garamond;
    background-color: var(--bgcolor);
}

ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    @apply text-2xl;
}

p {
    @apply text-lg md:text-2xl;
}

small {
    @apply text-base md:text-lg;
}

li {
   @apply text-lg md:text-2xl;
}

pre {
    @apply text-lg p-4 my-5 rounded-xl overflow-x-auto ;
    background-color: var(--bgcolor-light);
}

code {
    @apply text-base md:text-lg;
    background-color: var(--bgcolor-light);
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

.container {
    @apply max-w-3xl mx-auto md:mt-10 p-5 md:p-10 space-y-3;
}

.btn {
    @apply p-2 text-center border border-black hover:bg-black hover:cursor-pointer hover:text-bgcolor transition-all duration-300 ease-in-out ;
} 

.btn-active {
    @apply bg-black text-bgcolor transition-all duration-300 ease-in-out;
}
